{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>INVENTORY MANAGEMENT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href={% static '/assets/img/favicon.png' %} rel="icon">
    <link href={% static '/assets/img/apple-touch-icon.png' %} rel="apple-touch-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    <link href={% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href={% static 'assets/css/style.css' %} rel="stylesheet">

    <!-- ===== DataTables Js and CSS File ===== -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <!-- =============APEXCHARTS============ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body style="height: 100% ;">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center">
                <img src={% static 'assets/img/logo1.png' %} alt="">
                <span style="color:rgb(227, 148, 64);font-weight:bold;font-size:3vh;">INVENTORY_MANAGEMENT</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

    </header><!-- End Header -->

    <!-- ===== Sidebar ===== -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item" style="width: 40vh;">
                <a class="nav-link " href="dashboard_page">
                    <i class="bi bi-houses-fill" style="color: #d59124"></i>
                    <span style="color: #d59124;font-size:2.5vh;">Dashboard</span>
                </a>
                <a class="nav-link " href="cylindrical">
                    <i class="bi bi-gear-fill" style="color: #d59124"></i>
                    <span style="color: #d59124;font-size:2.5vh;">Tank Inventory</span>
                </a>
                <a class="nav-link " href="#">
                    <i class="bi bi-file-earmark-text" style="color: #d59124"></i>
                    <span style="color: #d59124;font-size:2.5vh;">Reports</span>
                </a>
            </li>
        </ul>
    </aside>
    <main id="main" class="main">
        <section class="section dashboard">
            <div class="row">
                <!-- Function to generate real-time line chart -->
                <script>
                    function generateRealtimeLineChart(tag, tagValues) {
                        var theData = tagValues.slice(-10);  // Keep only the last 10 values

                        var options = {
                            series: [{
                                name: 'Real-time Data',
                                data: theData.map((value, index) => ({
                                    x: new Date().getTime() + index * 2000,
                                    y: value
                                }))
                            }],
                            chart: {
                                height: 150,
                                type: 'line',
                                animations: {
                                    enabled: false,
                                    easing: 'linear',
                                    dynamicAnimation: {
                                        speed: 8000
                                    }
                                },
                                toolbar: { show: false },
                                zoom: { enabled: false }
                            },
                            dataLabels: { enabled: false },
                            stroke: {
                                curve: 'smooth', width: 2
                            },
                            title: { text: 'tag data by time', align: 'left' },
                            markers: { size: 0 },
                            xaxis: { type: 'datetime' },
                            yaxis: { max: 30, min: 0 },
                            legend: { show: false },
                        };

                        var chart = new ApexCharts(document.querySelector(`#realtimeLineChart${tag}`), options);
                        chart.render();

                        setInterval(function () {
                            // Fetch data from Django view
                            $.ajax({
                                url: 'line_data',
                                method: "GET",
                                dataType: 'json',
                                success: function (response) {
                                    // Update theData with the fetched tag values
                                    theData = response[`tag${tag}_values`].slice(-50);

                                    // Update the chart with the new data
                                    chart.updateSeries([{
                                        data: theData.map((value, index) => ({
                                            x: new Date().getTime() + index * 2000,
                                            y: value
                                        }))
                                    }]);
                                },
                                error: function (error) {
                                    console.error('Error fetching data:', error);
                                }
                            });
                        }, 2000);
                    }
                </script>

                <!-- Tag1 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:33%;cursor: pointer;height: 33vh;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size:2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag1</h6>
                    </div>
                    <div id="realtimeLineChart1" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart1" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(1, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>

                <!-- Tag2 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:33%;cursor: pointer;height: 33vh;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size:2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag2</h6>
                    </div>
                    <div id="realtimeLineChart2" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart2" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(2, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>

                <!-- Tag3 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:32%;cursor: pointer;height: 33vh;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size:2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag3</h6>
                    </div>
                    <div id="realtimeLineChart3" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart3" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(3, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>
                <!-- Tag4 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:33%;cursor: pointer;height: 33vh;margin-top: 0.5%;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size:2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag4</h6>
                    </div>
                    <div id="realtimeLineChart4" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart4" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(4, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>
                <!-- tag5 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:33%;cursor: pointer;height: 33vh;margin-top: 0.5%;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size:2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag5</h6>
                    </div>
                    <div id="realtimeLineChart5" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart5" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(5, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>
                <!-- tag6 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:32%;cursor: pointer;height: 33vh;margin-top: 0.5%;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size:2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag6</h6>
                    </div>
                    <div id="realtimeLineChart6" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart6" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(6, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>
                <!-- Tag7 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:33%;cursor: pointer;height: 33vh;margin-top: 0.5%;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size:2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag7</h6>
                    </div>
                    <div id="realtimeLineChart7" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart7" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(7, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>
                <!-- Tag8 -->
                <div
                    style="border:1px solid rgb(215, 24, 24);margin-left: 0.5vh;width:33%;cursor: pointer;height: 33vh;margin-top: 0.5%;">
                    <div style="margin-top: 2%;">
                        <h6 style="font-size: 2.5vh;font-style:normal;font-weight:bolder;margin-left:2vh ;">Tag8</h6>
                    </div>
                    <div id="realtimeLineChart8" col-lg-3 style="height:20vh;">
                        <canvas id="lineChart8" width="32" height="20"></canvas>
                        <script>
                            generateRealtimeLineChart(8, [19, 4, 16, 9, 19, 9, 8, 19, 18, 14, 10, 6, 9, 10, 16, 4, 6, 7, 7, 14, 20, 14, 19, 9, 11, 6, 11, 6, 11]);
                        </script>
                    </div>
                </div>
                <!-- Tag9 -->
                <div
                    style="border:1px solid rgb(215, 24, 24); margin-left: 0.5vh; width: 32%; cursor: pointer; height: 33vh; margin-top: 0.5%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <div style="margin-top: 2%;">
                        <h2>NULL</h2>
                    </div>
                </div>

            </div>
            <script>
                // document.getElementById('realtimeLineChart1').addEventListener('dblclick',function(){
                //     window.location.href='Tag1'
                // })
                document.getElementById('realtimeLineChart2').addEventListener('dblclick', function () {
                    window.location.href = 'Tag2'
                })
                document.getElementById('realtimeLineChart3').addEventListener('dblclick', function () {
                    window.location.href = 'Tag3'
                })
                document.getElementById('realtimeLineChart4').addEventListener('dblclick', function () {
                    window.location.href = 'Tag4'
                })
                document.getElementById('realtimeLineChart5').addEventListener('dblclick', function () {
                    window.location.href = 'Tag5'
                })
                document.getElementById('realtimeLineChart6').addEventListener('dblclick', function () {
                    window.location.href = "Tag6"
                })
                document.getElementById('realtimeLineChart7').addEventListener('dblclick', function () {
                    window.location.href = 'Tag7'
                })
                document.getElementById('realtimeLineChart8').addEventListener('dblclick', function () {
                    window.location.href = 'Tag8'
                })

            </script>

        </section>
    </main>


    <!-- Vendor JS Files -->
    <script src={% static 'assets/vendor/apexcharts/apexcharts.min.js' %}></script>
    <script src={% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
    <script src={% static 'assets/vendor/chart.js/chart.umd.js' %}></script>
    <script src={% static 'assets/vendor/echarts/echarts.min.js' %}></script>
    <script src={% static 'assets/vendor/quill/quill.min.js' %}></script>
    <script src={% static 'assets/vendor/simple-datatables/simple-datatables.js' %}></script>
    <script src={% static 'assets/vendor/tinymce/tinymce.min.js' %}></script>

    <!-- Template Main JS File -->
    <script src={% static 'assets/js/main.js' %}></script>

</body>

</html>