{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>INVENTORY MANAGEMENT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href={% static '/assets/img/favicon.png' %} rel="icon">
    <link href={% static '/assets/img/apple-touch-icon.png' %} rel="apple-touch-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    <link href={% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href={% static 'assets/css/style.css' %} rel="stylesheet">

    <!-- ===== DataTables Js and CSS File ===== -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script type="text/javascript" charset="utf8" -->
    <!-- src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"> -->
    <!-- =============APEXCHARTS============ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <style>
        .custom-button {
            margin-left: 40vh;
            margin-top: 6vh;
            color: #fff;
            /* Text color */
            height: 6vh;
            width: 24vh;
            background-color: rgb(212, 151, 85);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.8vh;
            /* Adjust font size */
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .custom-button:hover {
            background-color: #1e004bb9;
            /* Change background color on hover */
            transform: scale(1.05);
            /* Add a subtle scale effect on hover */
        }

        .custom-button1 {
            margin-right: 1vh;
            color: #fff;
            height: 6vh;
            width: 24vh;
            background-color: rgb(212, 151, 85);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 2.2vh;
            transition: background-color 0.3s ease, transform 0.2s ease;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .custom-button1:hover {
            background-color: #1e004bb9;
            transform: scale(1.05);
        }
    </style>

</head>

<body style="height: 100% ;overflow: hidden;">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center">
                <img src={% static 'assets/img/logo1.png' %} alt="">
                <span style="color:rgb(227, 148, 64);font-weight:bold;font-size:3vh;">INVENTORY_MANAGEMENT</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

    </header><!-- End Header -->

    <!-- ===== Sidebar ===== -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item" style="width: 40vh;">
                <a class="nav-link " href="dashboard_page">
                    <i class="bi bi-houses-fill" style="color: #d59124"></i>
                    <span style="color: #d59124;font-size:2.5vh;">Dashboard</span>
                </a>
                <a class="nav-link " href="cylindrical">
                    <i class="bi bi-gear-fill" style="color: #d59124"></i>
                    <span style="color: #d59124;font-size:2.5vh;">Tank Inventory</span>
                </a>
                <a class="nav-link " href="#">
                    <i class="bi bi-file-earmark-text" style="color: #d59124"></i>
                    <span style="color: #d59124;font-size:2.5vh;">Reports</span>
                </a>
            </li>
        </ul>
    </aside>
    <main id="main" class="main">
        <section class="section dashboard">
            <div class="row">
                <!-- ====================================== Type of tank =============================================================== -->
                <div
                    style="border:1px solid rgba(7, 4, 78, 0.983);margin-left: 0.5vh;float: left;width:99.5%;cursor: pointer;height: 85vh;">

                    <div class="card col-12" style="margin-top: 2vh; height: 26vh; margin-bottom: 0;">
                        <h5 class="card-title" style="color: #d59124 ; font-size:2.8vh; ">Filter</h5>
                        <!-- <div> -->
                        <div style=" width: 50%;float: left;">
                            <label style="font-weight: bold;font-size:2.5vh; color: #1e004bb9;"
                                for="channel_selection">Type of Tank</label>
                        </div>
                        <div style="width: 50%;margin-top:2vh; ">
                            <button class="btn btn-info custom-button1" onclick="showCylindricalBase()">
                                Cylindrical Base
                            </button>

                            <button class="btn btn-info custom-button1" onclick="showConicalBase()">
                                Conical Base
                            </button>
                        </div>
                    </div>

                    <!-- ====================================================Cylindrical BASE================================================= -->
                    <div style="display: flex;">
                        <div id="Cylindrical_Base" class="card col-8" style="height: 55vh; margin-top: 1vh;">
                            <h5 class="card-title" style="color: #d59124; font-size:2.8vh; ">Cylindrical Base</h5>
                            <!-- ================================Inputs for tank(Diameter) ====================================-->
                            <div style="display: flex; align-items: center;">
                                <label
                                    style="font-weight: bold; margin-left: 2vh; margin-bottom: 2vh; font-size: 2.2vh; width: 16vh;">Diameter
                                    of tank(d1)</label>

                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh; margin-bottom: 2vh;"
                                        id="diameter1d1" name="exampleInput">
                                    <select
                                        style="position: absolute; top: 0; right: 0; bottom: 0; width: 9.5vh; height: 7vh;"
                                        id="unitDropdown">
                                        <option value="mtr">mtr</option>

                                    </select>
                                </div>
                                <!-- ================================Inputs for tank(Height) ====================================-->

                                <label
                                    style="font-weight: bold; margin-left: 12vh; margin-bottom: 2vh;  margin-top: 2vh;font-size:2.2vh;width: 16vh;">Height
                                    of tank(h1)</label>
                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="height1h1" name="exampleInput">
                                    <select
                                        style="position: absolute; top: 0; right: 0; bottom: 0; width: 9.5vh; height: 7vh;"
                                        id="unitDropdown">
                                        <option value="mtr">mtr</option>
                                    </select>
                                </div>
                            </div>
                            <!-- ============================================== Tank name =================================================== -->
                            <div style="display: flex; align-items: center;">

                                <label
                                    style="font-weight: bold; margin-left: 2vh; margin-bottom: 2vh;  margin-top: 2vh;font-size:2.2vh;width: 16vh;">Tank
                                    Name</label>
                                <div style="position: relative; display: inline-block;">
                                    <select
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="tank_name1">
                                        <option>Tank1</option>
                                        <option>Tank2</option>
                                        <option>Tank3</option>
                                        <option>Tank4</option>
                                        <option>Tank5</option>
                                        <option>Tank6</option>
                                        <option>Tank7</option>
                                        <option>Tank8</option>
                                    </select>
                                </div>
                                <!-- ============================================== Product name =================================================== -->
                                <label
                                    style="font-weight: bold; margin-left: 12vh; margin-bottom: 2vh;  margin-top: 2vh;font-size:2.2vh;width: 16vh;">Product</label>
                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="product1" name="exampleInput">
                                </div>
                            </div>
                            <button id="button" class="btn btn-info custom-button">
                                Inventory
                            </button>
                            <!-- ========================= Drawing cylindrical Canvas =============================== -->
                        </div>
                        <div id="Vertical_cylinder" class="card col-4"
                            style="height: 55vh; margin-top: 1vh; margin-left: 1vh;">
                            <h5 class="card-title" style="color: #d59124; font-size:2.8vh; ">Vertical Cylinder</h5>
                            <canvas id="cylindricalCanvas" width="600" height="550"></canvas>
                            <script>
                                function drawCylindricalShape(diameter, height) {
                                    var canvas = document.getElementById('cylindricalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Calculate the center of the canvas
                                    var centerX = canvas.width / 2;
                                    var centerY = canvas.height / 2;

                                    // Increase the size of the cylinder
                                    var radiusX = diameter / 2 * 1.5;  // Adjust the multiplier as needed
                                    var radiusY = diameter / 8 * 1.5;  // Adjust the multiplier as needed

                                    // Adjust the position to center the cylinder
                                    var x = centerX;
                                    var y = centerY - height / 2;

                                    context.beginPath();
                                    context.ellipse(x, y, radiusX, radiusY, 0, 0, 2 * Math.PI, false);
                                    context.moveTo(x - radiusX, y);
                                    context.lineTo(x - radiusX, y + height);
                                    context.moveTo(x + radiusX, y);
                                    context.lineTo(x + radiusX, y + height);
                                    context.ellipse(x, y + height, radiusX, radiusY, 0, 0, Math.PI, false);
                                    context.lineWidth = 4;

                                    context.stroke();

                                    // Adjust the placement of the square
                                    var squareSize = 40; // Adjust the size as needed
                                    var squareX = x - squareSize / 0.5;
                                    var squareY = y - squareSize / 1; // Adjust the vertical position

                                    context.fillStyle = '#fff'; // Set the fill color to white
                                    context.fillRect(squareX, squareY, squareSize, squareSize);

                                    // Draw the black border
                                    context.strokeStyle = '#000'; // Set the border color to black
                                    context.lineWidth = 2; // Set the border width
                                    context.strokeRect(squareX, squareY, squareSize, squareSize);

                                    var rectWidth = 55;
                                    var rectHeight = 7;
                                    var rectX = 212.5; // Adjust this value to change the horizontal placement of the rectangle
                                    var rectY = 90; // Adjust this value to change the vertical placement of the rectangle

                                    context.beginPath();
                                    context.rect(rectX, rectY, rectWidth, rectHeight);
                                    context.fillStyle = 'white';
                                    context.fill();
                                    context.strokeStyle = 'black';
                                    context.stroke();
                                }

                                // Call the function with specific values
                                drawCylindricalShape(150, 280);
                                // ========================================================== h1 ==========================================
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('cylindricalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new x-coordinate for the line
                                    var x = canvas.width / 1.2; // Shifted to the right by dividing by 4

                                    // Set the starting and ending y-coordinate values
                                    var yStart = 132;
                                    var yEnd = canvas.height - 102;

                                    // Draw the shifted vertical line
                                    context.beginPath();
                                    context.moveTo(x, yStart); // starting point
                                    context.lineTo(x, yEnd); // ending point
                                    context.strokeStyle = '#000'; // line color
                                    context.lineWidth = 2; // line width

                                    //draw arrow end of the line
                                    drawArrowhead(context, x, yStart, x, yEnd);
                                    drawArrowhead(context, x, yEnd, x, yStart);

                                    context.stroke(); // draw the line

                                    var label = "h1";
                                    context.font = "35px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "left";
                                    context.fillText(label, x, (yStart + yEnd) / 2);

                                    function drawArrowhead(context, x1, y1, x2, y2) {
                                        var arrowSize = 10;

                                        var angle = Math.atan2(y2 - y1, x2 - x1);

                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                    }
                                }
                                );
                                // =================================================== h2 ===============================================================
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('cylindricalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new x-coordinate for the line
                                    var x = canvas.width / 1.2; // Shifted to the right by dividing by 4

                                    // Set the starting and ending y-coordinate values
                                    var yStart = 85;
                                    var yEnd = canvas.height - 420;

                                    // Draw the shifted vertical line
                                    context.beginPath();
                                    context.moveTo(x, yStart); // starting point
                                    context.lineTo(x, yEnd); // ending point
                                    context.strokeStyle = '#000'; // line color
                                    context.lineWidth = 2; // line width

                                    //draw arrow end of the line
                                    drawArrowhead(context, x, yStart, x, yEnd);
                                    drawArrowhead(context, x, yEnd, x, yStart);

                                    context.stroke(); // draw the line

                                    var label = "h2";
                                    context.font = "32px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "left";
                                    context.fillText(label, x, (yStart + yEnd) / 2);

                                    function drawArrowhead(context, x1, y1, x2, y2) {
                                        var arrowSize = 10;

                                        var angle = Math.atan2(y2 - y1, x2 - x1);

                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                    }
                                }
                                );
                                // -------------------------------------------------------- d1 ---------------------------------------------------
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('cylindricalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new y-coordinate for the line
                                    var y = canvas.height / 1.15; // Centered vertically

                                    // Set the starting and ending x-coordinate values
                                    var xStart = 180;
                                    var xEnd = canvas.width - 180;

                                    // Draw the line
                                    context.beginPath();
                                    context.moveTo(xStart, y); // starting point
                                    context.lineTo(xEnd, y); // ending point

                                    // Set the style for the line and arrowheads
                                    context.strokeStyle = '#000'; // line color
                                    context.lineWidth = 2; // line width

                                    // Draw arrowheads at both ends
                                    drawArrowhead(context, xStart, y, xEnd, y);
                                    drawArrowhead(context, xEnd, y, xStart, y);

                                    context.stroke(); // draw the line

                                    // Add a label to the line
                                    var label = "d1";
                                    context.font = "35px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "center ";
                                    context.fillText(label, (xStart + xEnd) / 2, y);
                                });

                                // Function to draw arrowheads
                                function drawArrowhead(context, x1, y1, x2, y2) {
                                    var arrowSize = 10;

                                    var angle = Math.atan2(y2 - y1, x2 - x1);

                                    context.moveTo(x2, y2);
                                    context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                    context.moveTo(x2, y2);
                                    context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                }
                                function drawArrowhead(context, x1, y1, x2, y2) {
                                    var arrowSize = 10;

                                    var angle = Math.atan2(y2 - y1, x2 - x1);

                                    context.moveTo(x2, y2);
                                    context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                    context.moveTo(x2, y2);
                                    context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                }
                            </script>
                        </div>


                        <!-- ====================================================CONICAL BASE================================================= -->
                        <!-- <div style="display: flex;"> -->
                        <div id="Conical_Base" class="card col-8" style="height: 55vh;display: none;margin-top: 1vh ;">
                            <h5 class="card-title" style="color: #d59124; font-size:2.8vh; ">Conical Base</h5>
                            <!-- ======================================== Inputs for tank================================================= -->
                            <div style="display: flex; align-items: center;">
                                <label
                                    style="font-weight: bold; margin-left: 2vh; margin-bottom: 2vh;  margin-top: 1vh;font-size:2.2vh;width: 16vh;">Diameter
                                    of tank(d1)</label>
                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="diameter2d1" name="diameter2d1">
                                    <select
                                        style="position: absolute; top: 0; right: 0; bottom: 0; width: 11.5vh;height: 7vh;"
                                        class="custom-select" id="unitDropdown">
                                        <option value="mtr">mtr</option>
                                    </select>
                                </div>
                                <label
                                    style="font-weight: bold; margin-left:12vh; margin-bottom: 2vh;  margin-top: 1vh;font-size:2.2vh;width: 16vh;">Height
                                    of tank(h1)</label>
                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="height2h1" name="exampleInput">
                                    <select
                                        style="position: absolute; top: 0; right: 0; bottom: 0; width: 11.5vh;height: 7vh;"
                                        class="custom-select" id="unitDropdown">
                                        <option value="mtr">mtr</option>
                                    </select>
                                </div>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <label
                                    style="font-weight: bold; margin-left: 2vh; margin-bottom: 2vh;  margin-top: 1vh;font-size:2.2vh;width: 16vh;">Diameter
                                    of cone(d2)</label>
                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="diameter2d2" name="exampleInput">
                                    <select
                                        style="position: absolute; top: 0; right: 0; bottom: 0; width: 11.5vh;height: 7vh;"
                                        class="custom-select" id="unitDropdown">
                                        <option value="mtr">mtr</option>
                                    </select>
                                </div>
                                <label
                                    style="font-weight: bold; margin-left:12vh; margin-bottom: 2vh;  margin-top: 1vh;font-size:2.2vh;width: 16vh;">Height
                                    of cone(h2)</label>
                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="height2h2" name="exampleInput">
                                    <select
                                        style="position: absolute; top: 0; right: 0; bottom: 0; width: 11.5vh;height: 7vh;"
                                        class="custom-select" id="unitDropdown">
                                        <option value="mtr">mtr</option>
                                    </select>
                                </div>
                            </div>

                            <div style="display: flex; align-items: center;">
                                <label
                                    style="font-weight: bold; margin-left: 2vh; margin-bottom: 2vh;  margin-top: 2vh;font-size:2.2vh;width: 16vh;">Tank
                                    Name</label>
                                <div style="position: relative; display: inline-block;">
                                    <select
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="tank_name2">
                                        <option>Tank1</option>
                                        <option>Tank2</option>
                                        <option>Tank3</option>
                                        <option>Tank4</option>
                                        <option>Tank5</option>
                                        <option>Tank6</option>
                                        <option>Tank7</option>
                                        <option>Tank8</option>
                                    </select>
                                </div>
                                <label
                                    style="font-weight: bold; margin-left: 12vh; margin-bottom: 2vh;  margin-top: 2vh;font-size:2.2vh;width: 16vh;">Product</label>
                                <div style="position: relative; display: inline-block;">
                                    <input type="text"
                                        style="padding: 1.5vh; height: 7vh; margin-left: 2vh; border: 1px solid #ccc; border-radius: 3px; width: 25vh;"
                                        id="product2" name="exampleInput">
                                </div>
                            </div>
                            <button style="margin-top: 2vh;font-size: 2vh;" class="btn btn-info custom-button"
                                id="button2">
                                Inventory
                            </button>
                        </div>
                        <!-- =========================================================Canvas for Conical Base ================================================================ -->
                        <div id="Vertical_cone" class="card col-4"
                            style="height: 55vh; margin-top: 1vh; margin-left: 1vh; display: none;">
                            <h5 class="card-title" style="color: #d59124; font-size:2.8vh; ">Vertical Conical Cylinder
                            </h5>
                            <canvas id="conicalCanvas" width="600" height="550"></canvas>
                            <script>
                                // =======================================cylinder and square above cylinder========================================
                                function conicalCanvas(diameter, height, cylinderColor) {
                                    var canvas = document.getElementById('conicalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Calculate the center of the canvas
                                    var centerX = canvas.width / 2;
                                    var centerY = canvas.height / 2;

                                    // Increase the size of the cylinder
                                    var radiusX = diameter / 2 * 1.5;  // Adjust the multiplier as needed
                                    var radiusY = diameter / 8 * 1.5;  // Adjust the multiplier as needed

                                    // Adjust the position to center the cylinder
                                    var x = centerX;
                                    var y = centerY - height / 2;

                                    // Draw the cylinder
                                    context.beginPath();
                                    context.ellipse(x, y, radiusX, radiusY, 0, 0, 2 * Math.PI, false);
                                    context.moveTo(x - radiusX, y);
                                    context.lineTo(x - radiusX, y + height);
                                    context.moveTo(x + radiusX, y);
                                    context.lineTo(x + radiusX, y + height);
                                    // context.ellipse(x, y + height, radiusX, radiusY, 0, 0, Math.PI, false);
                                    context.lineWidth = 4;

                                    // Stroke the cylinder
                                    // Set the color of the cylinder
                                    context.fillStyle = cylinderColor;
                                    context.strokeStyle = cylinderColor;

                                    // Fill and stroke the cylinder
                                    context.fill();
                                    context.stroke();

                                    context.beginPath();
                                    context.moveTo(x - radiusX / 0.97, y + height);
                                    context.lineTo(x + radiusX / 0.98, y + height);
                                    context.lineTo(x + radiusX * 0.4, canvas.height - 30);
                                    context.lineTo(x - radiusX * 0.4, canvas.height - 30);
                                    context.closePath();

                                    // Fill the trapezium with color
                                    context.fillStyle = cylinderColor;
                                    context.fill();

                                    // Adjust the placement of the square
                                    var squareSize = 40; // Adjust the size as needed
                                    var squareX = x - squareSize / 0.5;
                                    var squareY = y - squareSize / 1; // Adjust the vertical position

                                    context.fillStyle = '#fff'; // Set the fill color to white
                                    context.fillRect(squareX, squareY, squareSize, squareSize);

                                    // Draw the black border
                                    context.strokeStyle = '#000'; // Set the border color to black
                                    context.lineWidth = 2; // Set the border width
                                    context.strokeRect(squareX, squareY, squareSize, squareSize);
                                    var rectWidth = 55;
                                    var rectHeight = 7;
                                    var rectX = 212.5; // Adjust this value to change the horizontal placement of the rectangle
                                    var rectY = 90; // Adjust this value to change the vertical placement of the rectangle

                                    context.beginPath();
                                    context.rect(rectX, rectY, rectWidth, rectHeight);
                                    context.fillStyle = 'white';
                                    context.fill();
                                    context.strokeStyle = 'black';
                                    context.stroke();
                                }

                                // Call the function with specific values
                                conicalCanvas(150, 280, "grey");
                                // ============================================================ h1 =====================================================
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('conicalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new x-coordinate for the line
                                    var x = canvas.width / 1.2; // Shifted to the right by dividing by 4

                                    // Set the starting and ending y-coordinate values
                                    var yStart = 132;
                                    var yEnd = canvas.height - 102;

                                    // Draw the shifted vertical line
                                    context.beginPath();
                                    context.moveTo(x, yStart); // starting point
                                    context.lineTo(x, yEnd); // ending point
                                    context.strokeStyle = '#000'; // line color
                                    context.lineWidth = 2; // line width

                                    //draw arrow end of the line
                                    drawArrowhead(context, x, yStart, x, yEnd);
                                    drawArrowhead(context, x, yEnd, x, yStart);

                                    context.stroke(); // draw the line

                                    var label = "h1";
                                    context.font = "35px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "left";
                                    context.fillText(label, x, (yStart + yEnd) / 2);

                                    function drawArrowhead(context, x1, y1, x2, y2) {
                                        var arrowSize = 10;

                                        var angle = Math.atan2(y2 - y1, x2 - x1);

                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                    }
                                });
                                // =============================================================== h3 ====================================================
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('conicalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new x-coordinate for the line
                                    var x = canvas.width / 1.2; // Shifted to the right by dividing by 4

                                    // Set the starting and ending y-coordinate values
                                    var yStart = 85;
                                    var yEnd = canvas.height - 420;

                                    // Draw the shifted vertical line
                                    context.beginPath();
                                    context.moveTo(x, yStart); // starting point
                                    context.lineTo(x, yEnd); // ending point
                                    context.strokeStyle = '#000'; // line color
                                    context.lineWidth = 2; // line width

                                    //draw arrow end of the line
                                    drawArrowhead(context, x, yStart, x, yEnd);
                                    drawArrowhead(context, x, yEnd, x, yStart);

                                    context.stroke(); // draw the line

                                    var label = "h3";
                                    context.font = "32px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "left";
                                    context.fillText(label, x, (yStart + yEnd) / 2);

                                    function drawArrowhead(context, x1, y1, x2, y2) {
                                        var arrowSize = 10;

                                        var angle = Math.atan2(y2 - y1, x2 - x1);

                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                    }
                                }
                                );
                                // ====================================================== h2 ==================================================
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('conicalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new x-coordinate for the line
                                    var x = canvas.width / 1.4; // Shifted to the right by dividing by 4

                                    // Set the starting and ending y-coordinate values
                                    var yStart = 420;
                                    var yEnd = canvas.height - 20;

                                    // Draw the shifted vertical line
                                    context.beginPath();
                                    context.moveTo(x, yStart); // starting point
                                    context.lineTo(x, yEnd); // ending point
                                    context.strokeStyle = '#000'; // line color
                                    context.lineWidth = 2; // line width

                                    //draw arrow end of the line
                                    drawArrowhead(context, x, yStart, x, yEnd);
                                    drawArrowhead(context, x, yEnd, x, yStart);

                                    context.stroke(); // draw the line

                                    var label = "h2";
                                    context.font = "32px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "left";
                                    context.fillText(label, x, (yStart + yEnd) / 2);

                                    function drawArrowhead(context, x1, y1, x2, y2) {
                                        var arrowSize = 10;

                                        var angle = Math.atan2(y2 - y1, x2 - x1);

                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                        context.moveTo(x2, y2);
                                        context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                    }
                                }
                                );
                                // -------------------------------------------------------- d1 -------------------------------------------------------------------
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('conicalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new y-coordinate for the line
                                    var y = canvas.height / 1.36; // Centered vertically

                                    // Set the starting and ending x-coordinate values
                                    var xStart = 180;
                                    var xEnd = canvas.width - 180;

                                    // Draw the line
                                    context.beginPath();
                                    context.moveTo(xStart, y); // starting point
                                    context.lineTo(xEnd, y); // ending point

                                    // Set the style for the line and arrowheads
                                    context.strokeStyle = '#ff0000'; // line color
                                    context.lineWidth = 2; // line width

                                    // Draw arrowheads at both ends
                                    drawArrowhead(context, xStart, y, xEnd, y);
                                    drawArrowhead(context, xEnd, y, xStart, y);

                                    context.stroke(); // draw the line

                                    // Add a label to the line
                                    var label = "d1";
                                    context.font = "35px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "center ";
                                    context.fillText(label, (xStart + xEnd) / 2, y);
                                });
                                // ========================================================  d2  =================================================
                                document.addEventListener('DOMContentLoaded', () => {
                                    // Get the canvas element
                                    var canvas = document.getElementById('conicalCanvas');
                                    var context = canvas.getContext('2d');

                                    // Set the new y-coordinate for the line
                                    var y = canvas.height / 1.05; // Centered vertically
                                    // var x
                                    // Set the starting and ending x-coordinate values
                                    var xStart = 250;
                                    var xEnd = canvas.width - 250;

                                    // Draw the line
                                    context.beginPath();
                                    context.moveTo(xStart, y); // starting point
                                    context.lineTo(xEnd, y); // ending point
                                    context.strokeStyle = '#ff0000';

                                    // Set the style for the line and arrowheads
                                    // context.strokeStyle = '#000'; // line color
                                    context.lineWidth = 2; // line width

                                    // Draw arrowheads at both ends
                                    drawArrowhead(context, xStart, y, xEnd, y);
                                    drawArrowhead(context, xEnd, y, xStart, y);

                                    context.stroke(); // draw the line

                                    // Add a label to the line
                                    var label = "d2";
                                    context.font = "25px Arial";
                                    context.fillStyle = "#000";
                                    context.textAlign = "center";
                                    context.fillText(label, (xStart + xEnd) / 2, y);
                                });
                                // =============================================================================
                                function drawArrowhead(context, x1, y1, x2, y2) {
                                    var arrowSize = 10;

                                    var angle = Math.atan2(y2 - y1, x2 - x1);

                                    context.moveTo(x2, y2);
                                    context.lineTo(x2 - arrowSize * Math.cos(angle - Math.PI / 6), y2 - arrowSize * Math.sin(angle - Math.PI / 6));
                                    context.moveTo(x2, y2);
                                    context.lineTo(x2 - arrowSize * Math.cos(angle + Math.PI / 6), y2 - arrowSize * Math.sin(angle + Math.PI / 6));
                                }
                            </script>

                        </div>
                    </div>
                    <!--==================================== which div should be displayed ==============================-->
                    <script>
                        function showCylindricalBase() {
                            document.getElementById('Cylindrical_Base').style.display = 'block';
                            document.getElementById('Conical_Base').style.display = 'none';
                            document.getElementById('Vertical_cylinder').style.display = 'flex';
                            document.getElementById('Vertical_cone').style.display = 'none';



                        }

                        function showConicalBase() {
                            document.getElementById('Cylindrical_Base').style.display = 'none';
                            document.getElementById('Conical_Base').style.display = 'block';
                            document.getElementById('Vertical_cylinder').style.display = 'none';
                            document.getElementById('Vertical_cone').style.display = 'flex';


                        }

                        //========================================= ajax for cylindrical================================


                        document.addEventListener("DOMContentLoaded", function () {
                            document.getElementById("button").addEventListener("click", function () {
                                var diameter1 = document.getElementById('diameter1d1').value;
                                // var diameter2 = document.getElementById('diameter2d2').value;
                                var height1 = document.getElementById('height1h1').value;
                                // var height2 = document.getElementById('height2h2').value;
                                var tank_name = document.getElementById('tank_name1').value;
                                var product = document.getElementById('product1').value;
                                if (diameter1.trim() === '') {
                                    alert("Please enter a value for diameter.");
                                }
                                // if (diameter2.trim() === '') {
                                //     alert("Please enter a value for diameter.");
                                // }
                                // if (height2.trim() === '') {
                                //     alert("Please enter a value for height.");
                                // }
                                if (height1.trim() === '') {
                                    alert("Please enter a value for height.");
                                }
                                if (product.trim() === '') {
                                    alert("Please enter a value for product.");
                                }


                                var csrfToken = '{{ csrf_token }}';
                                $.ajax({
                                    url: 'cylindrical', // Replace with your Django view's URL
                                    method: "POST",  // Change to "POST" if your Django view expects POST requests
                                    data: {
                                        csrfmiddlewaretoken: csrfToken,
                                        'diameter1d1': diameter1,
                                        'height1h1': height1,
                                        'tank_name': tank_name,
                                        'product': product,

                                    },
                                    success: function (response) {
                                        console.log("Data sent successfully", typeof (diameter));
                                        // Call the redirect function after the successful AJAX request
                                        redirect();
                                    },
                                    error: function (error) {
                                        console.error("Error sending data:", error);
                                    }
                                });
                            });

                            // function redirect() {
                            //     window.location.href = "cylindrical";
                            // }
                        });

                        //================================================== ajax for conical=================================================

                        document.addEventListener("DOMContentLoaded", function () {
                            document.getElementById("button2").addEventListener("click", function () {
                                var diameter1 = document.getElementById('diameter2d1').value;
                                var diameter2 = document.getElementById('diameter2d2').value;
                                var height1 = document.getElementById('height2h1').value;
                                var height2 = document.getElementById('height2h2').value;
                                var tank_name = document.getElementById('tank_name2').value;
                                var product = document.getElementById('product2').value;
                                if (diameter1.trim() === '') {
                                    alert("Please enter a value for diameter d1.");
                                }
                                if (diameter2.trim() === '') {
                                    alert("Please enter a value for diameter d2.");
                                }
                                if (height2.trim() === '') {
                                    alert("Please enter a value for height h2.");
                                }
                                if (height1.trim() === '') {
                                    alert("Please enter a value for height h1.");
                                }
                                if (product.trim() === '') {
                                    alert("Please enter a value for product.");
                                }


                                var csrfToken = '{{ csrf_token }}';
                                $.ajax({
                                    url: 'conical', // Replace with your Django view's URL
                                    method: "POST",  // Change to "POST" if your Django view expects POST requests
                                    data: {
                                        csrfmiddlewaretoken: csrfToken,
                                        'diameter2d1': diameter1,
                                        'diameter2d2': diameter2,
                                        'height2h1': height1,
                                        'height2h2': height2,
                                        'tank_name': tank_name,
                                        'product': product,

                                    },
                                    success: function (response) {
                                        console.log("Data sent successfully", typeof (diameter1));
                                        // Call the redirect function after the successful AJAX request
                                        redirect();
                                    },
                                    error: function (error) {
                                        console.error("Error sending data:", error);
                                    }
                                });
                            });

                            function redirect() {
                                window.location.href = "conical";
                            }
                        });

                    </script>
                </div>
            </div>
        </section>
    </main>


    <!-- Vendor JS Files -->
    <script src={% static 'assets/vendor/apexcharts/apexcharts.min.js' %}></script>
    <script src={% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
    <script src={% static 'assets/vendor/chart.js/chart.umd.js' %}></script>
    <script src={% static 'assets/vendor/echarts/echarts.min.js' %}></script>
    <script src={% static 'assets/vendor/quill/quill.min.js' %}></script>
    <script src={% static 'assets/vendor/simple-datatables/simple-datatables.js' %}></script>
    <script src={% static 'assets/vendor/tinymce/tinymce.min.js' %}></script>

    <!-- Template Main JS File -->
    <script src={% static 'assets/js/main.js' %}></script>

</body>

</html>